<div class="app container">
  <h1 class="mb-2">Permission</h1>
  <div class="responsive-table">
    <table ng-if="$ctrl.permission.length" class="table" role="table">
      <thead role="rowgroup">
        <tr role="row">
          <th role="columnheader">Sections</th>
          <th role="columnheader">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox"
                  ng-model="$ctrl.options.view"
                  ng-change="$ctrl.checkAll('view');"
                 class="form-check-input">check all
              </label>
            </div>
          </th>
          <th role="columnheader">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox"
                  ng-model="$ctrl.options.edit"
                  ng-change="$ctrl.checkAll('edit');"
                  class="form-check-input">check all
              </label>
            </div>
          </th>
          <th role="columnheader">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox"
                  ng-model="$ctrl.options.remove"
                  ng-change="$ctrl.checkAll('remove');"
                  class="form-check-input">check all
              </label>
            </div>
          </th>
        </tr>
      </thead>

      <tbody role="rowgroup">
        <tr ng-repeat="(index, item) in $ctrl.permission" role="row">
          <td role="cell">{{item.name}}</td>
          <td ng-repeat="(name, type) in item.options" role="cell">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" 
                ng-disabled="$ctrl.isDisabled(item.options, name)" ng-model="$ctrl.permission[index].options[name]"
                ng-change="$ctrl.onChangePermission(index,name)" ng-attr-id="{{ 'customCheck-' +item.name + name }}">
              <label class="custom-control-label" ng-attr-for="{{ 'customCheck-'+ item.name + name }}">{{name}}</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button type="button" class="btn btn-primary"  ng-click="$ctrl.savePermission()">Save</button>
    </div>
  </div>
</div>